#logoz {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-logo {
    opacity: 1;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
} 

#logo {
    display: block;
    margin: 20px auto;
    width: 350px; /* ajusta el tamaño según sea necesario */
    border-radius: 50%; 
}

#logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    opacity: 0;
    border-radius: 50%; 
    transition: opacity 0.5s ease-in-out;
}
#map-container {
    width: 100%;
    height: 400px; /* Altura del mapa */
}

/*productos*/
#productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

/*pie de pagina */
footer {
    background-color: #0590fa; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

footer p {
    margin: 5px 0;
}

/* Estilos para los enlaces */
footer a {
    color: #fff; /* Color de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

/* Cambia el color de los enlaces cuando se pasan sobre ellos */
footer a:hover {
    color: #0590fa; /* Color de los enlaces al pasar el ratón sobre ellos */
}

/*titulos */
h2 {
    background-color: #0590fa; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrado del texto */
    margin-top: 0; /* Elimina el margen superior predeterminado */
}
@media screen and (max-width: 500px) {
    #logos-container {
        flex-direction: column;
        align-items: center;
    }
}
